<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.kurta" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.KurtaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="com.kurta.example.admin.kruta.MainActivity"
            android:windowSoftInputMode="adjustResize" >

        </activity>

        <activity
            android:name="com.kurta.example.admin.kruta.splash_screen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kurta.example.admin.kruta.signup"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kurta.example.admin.kruta.signup_next"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.kurta.example.admin.kruta.HomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.kurta.example.admin.kruta.profile"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

        </activity>
    </application>


</manifest>
